#header {
  background-color: lightblue;
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

#headerGroup, .headerGroupLeft, .headerGroupRight {
  display: flex;
  flex-direction: row;
}

.headerGroupLeft {
 
}

.headerGroupRight {
 
}

.navbar {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 52px;
  height: 52px;
}

.logoName {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 0;
  line-height: 1.4;
}

.logoName h1 {
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logoName h2 {
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
