* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body {
  background-color: #5199D1;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a.active {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}
